<div class="content" style="min-height: 500px;" id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <% if params[:city].blank? %>
          <h4 class="thin">Премиум компании</h4>


          <% @premium_companies.each do |company| %>

            <div class="media">
              <div class="row">

                <div class="col-md-2 col-xs-2">

                  <%= link_to(adv_agency_path(company), class: 'pull-left') do %>
                    <%= image_tag company.logo.url(:thumb), class: 'media-object', height: '80', width: '100' %>
                  <% end %>
                </div>
                <div class="col-md-7 col-xs-5" style="padding-top:15px">
                  <div class="thin">
                    <h4 class="media-heading company-name"><%= company.name %></h4>
                    <%= company.slogan %>
                  </div>
                </div>


                <div class="col-md-2" style="padding-top:15px">
                  <%= link_to 'Подробнее', adv_agency_path(company), class: 'btn btn-action btn-xs', data: {:turbolinks => false} %>
                </div>


              </div>
            </div>

          <% end %>
        <% end %>


        <h4 class="thin">
          <%= @companies[:message] %>
          <% if @companies[:add_link].present? %>
            <br>
            но вы можете прямо сейчас заказать
            <%= link_to "свою рекламную кампанию", new_promo_request_path %>
          <% end %>
        </h4>


        <% @companies[:companies].each do |company| %>

          <div class="media">
            <div class="row">

              <div class="col-md-2 col-xs-2">

                <%= link_to(adv_agency_path(company), class: 'pull-left') do %>
                  <%= image_tag company.logo.url(:thumb), class: 'media-object', height: '80', width: '100' %>
                <% end %>
              </div>
              <div class="col-md-7 col-xs-5" style="padding-top:15px">
                <div class="thin">
                  <h4 class="media-heading company-name"><%= company.name %></h4>
                  <%= company.slogan %>
                </div>
              </div>


              <div class="col-md-2" style="padding-top:15px">
                <!--<a class="btn btn-action btn-xs" href="<%= adv_agency_path(company) %>" data-turbolinks="false">Подробнее</a>-->
                <%= link_to 'Подробнее', adv_agency_path(company), class: 'btn btn-action btn-xs', data: {:turbolinks => false} %>
              </div>


            </div>
          </div>

        <% end %>
      </div>
      <div class="col-md-3">
        <h4 class="thin">Новые заявки</h4>
        <ul>
          <% @last_promo_requests.each do |r| %>
            <li><%= link_to "#{r.adv_type_str} в г. #{r.city.name} - #{I18n.t("promo_request_status.#{r.status}")}".html_safe, main_promo_requests_path %></li>
          <% end %>
        </ul>

        <h4 class="thin">Новости рынка</h4>
        <ul>
          <% @projects_news.each do |cn| %>
            <li><%= link_to "#{cn.name} от #{cn.company.name}".html_safe, adv_agency_path(cn.company) %></li>
          <% end %>
        </ul>

        <h4 class="thin">Отзывы от заказчиков</h4>
        <ul>
          <% @reviews.each do |review| %>
            <li><%= link_to "#{review.reviews.last.name} оставил(а) отзыв на компанию #{review.name}", adv_agency_path(review) %></li>
          <% end %>
        </ul>

        <h4 class="thin">Cтатьи для продвижения</h4>
        <ul>
          <% @articles.each do |article| %>
            <li><%= link_to article.title, main_article_path(article) %></li>
          <% end %>
        </ul>

        <h4 class="thin">Полезные сервисы</h4>
        <ul>
        <li>
          <%= link_to 'Еmail и смс рассылки', 'https://sendpulse.com/ru/?ref=588405', target: '_blank'  %>
        </li>
        <li>
          <%= link_to 'Реклама в социальных сетях', 'https://sociate.ru/info/promowind', target: '_blank'  %>
        </li>
        <li>
          <%= link_to 'Приём банковских платежей', 'https://fondy.ru/?connect=13641', target: '_blank'  %>
        </li></ul>
      </div>
    </div>
  </div>
</div>