<div class="container text-center">
  <br> <br>
  <h2 class="thin">Рекламные категории</h2>

  <div class="col-md-4" style="text-align: left">

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-send specializations"></i>
        Промо акции и мероприятия
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-send specializations"></i>
        Директ мэйл
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-send specializations"></i>
        Наружная реклама
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-send specializations"></i>
        Реклама на транспорте
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-send specializations"></i>
        Маркетинговые исследования
      <% end %>
    </h4>
  </div>
  <div class="col-md-4" style="text-align: left">

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-thumbs-up specializations"></i>
        Монтаж рекламных конструкций
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-thumbs-up specializations"></i>
        Indoor реклама
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-thumbs-up specializations"></i>
        Информационные печатные СМИ
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-thumbs-up specializations"></i>
        Телевизионная реклама
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-thumbs-up specializations"></i>
        Продакт-плейсмент
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-thumbs-up specializations"></i>
        Реклама на радиостанциях
      <% end %>
    </h4>

  </div>
  <div class="col-md-4" style="text-align: left">

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-heart-empty specializations"></i>
        Интернет реклама
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-heart-empty specializations"></i>
        Реклама в местах продаж
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-heart-empty specializations"></i>
        Полиграфические услуги
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-heart-empty specializations"></i>
        Изг. рекламных материалов
      <% end %>
    </h4>

    <h4 class="specializations"><%= link_to root_path, class: 'specializations' do %>
        <i class="glyphicon glyphicon-heart-empty specializations"></i>
        Дизайнерские услуги
      <% end %>
    </h4>

  </div>


</div>



