<style>
  h4 {
    font-size: 16px;
  }
</style>
<div class="jumbotron top-space">
  <div class="container text-center">

    <h2 class="thin">Рекламные категории</h2>

    <div class="col-md-3" style="text-align: left">

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/1.svg', size: '40x40' %>
          Промо акции и мероприятия
        <% end %>
      </h4>

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/2.svg', size: '40x40' %>
          Директ мэйл (почтовая рассылка)
        <% end %>
      </h4>

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/3.svg', size: '40x40' %>
          Наружная реклама
        <% end %>
      </h4>

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/4.svg', size: '40x40' %>
          Реклама на транспорте
        <% end %>
      </h4>

    </div>
    <div class="col-md-3" style="text-align: left">

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/5.svg', size: '40x40' %>
          Телевизионная реклама
        <% end %>
      </h4>

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/6.svg', size: '40x40' %>
          Реклама на радиостанциях
        <% end %>
      </h4>

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/7.svg', size: '40x40' %>
          Информационные печатные СМИ
        <% end %>
      </h4>

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/8.svg', size: '40x40' %>
          Indoor реклама
        <% end %>
      </h4>


    </div>
    <div class="col-md-3" style="text-align: left">

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/9.svg', size: '40x40' %>
          Интернет реклама
        <% end %>
      </h4>

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/10.svg', size: '40x40' %>
          Типографии (полиграфия)
        <% end %>
      </h4>

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/11.svg', size: '40x40' %>
          Продакт-плейсмент (скрытая реклама)
        <% end %>
      </h4>

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/12.svg', size: '40x40' %>
          Реклама в местах продаж
        <% end %>
      </h4>


    </div>
    <div class="col-md-3" style="text-align: left">

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/13.svg', size: '40x40' %>
          Дизайнерские услуги
        <% end %>
      </h4>

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/14.svg', size: '40x40' %>
          Маркетинговые исследования
        <% end %>
      </h4>


      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/15.svg', size: '40x40' %>
          Изготовление рекламных материалов
        <% end %>
      </h4>

      <h4 class="specializations"><%= link_to_if false, class: 'specializations' do %>
          <%= image_tag 'specializations/16.svg', size: '40x40' %>
          Монтаж рекламных конструкций
        <% end %>
      </h4>

    </div>


  </div>
</div>




