<style>
  .bs-example, .new-caption-area {
    width: 890px;
    margin: auto;
    color: #000;
    padding-right: 6%;
  }

  .carousel-caption {
    color: #000;
  }

</style>
<% content_for :head do %>
  <meta property="og:image" content='<%= image_url @company.logo %>'/>
  <meta property="og:title" content='<%= @company.name %>'/>
  <meta name="turbolinks-visit-control" content="reload">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<% end %>
<div class="container">
  <div class="row">
    <header class="page-header">
      <h1 class="page-title" style="text-align: left">Исполнитель #<%= @company.id %>
        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="//yastatic.net/share2/share.js"></script>
        <div style="float: right; font-size: 14px;">
          Поделиться карточкой исполнителя
          <br>
          <br>
          <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,evernote,viber,whatsapp,telegram" style="float: right"></div>
        </div>
      </h1>
    </header>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @company.logo, height: '240' %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6" style="height: 120px; border-bottom: 1px solid #eee;">
          <h3> <%= @company.name %></h3>
        </div>
        <div class="col-md-6" style="height: 120px;">
          <blockquote>
            <p><%= @company.slogan %></p>
          </blockquote>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="height: 120px;">
          <h4>Минимальный бюджет</h4>

          <strong><p class="thin"> <%= @company.min_order_price %> руб. </p></strong>
        </div>
        <div class="col-md-6">


          <h4>Рекламные компетенции</h4>
          <p class="thin">
            <%= @company.specialization_to_s.join(', ') %>
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h3>Региональный охват</h3>
    <p class="thin">
      <% @company.cities.each do |city| %>
        <%= city.name + "#{',' if city != @company.cities.last && @company.cities.count > 1}" %>
      <% end %>
    </p>
  </div>

  <div class="row">
    <h3> О компании</h3>
    <p class="thin">
      <%= "Ведёт деятельность с #{ @company.date_foundation.strftime("%-d.%m.%Y")}" if @company.date_foundation %>
      <br>
      <%= "Количество сотрудников: #{ @company.common_exp} человек" if @company.common_exp %>
    </p>
    <p class="thin"><%= h(@company.description).gsub(/\n/, '<br/>').html_safe %></p>
  </div>

  <div class="row">
    <h3> Реализованные проекты</h3>


    <div class="bs-example">
      <div id="carousel-example-captions" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators">
          <% @company.projects.reverse.each_with_index do |project, index| %>
            <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @company.projects.reverse.each_with_index do |project, index| %>
            <div class="item <%= 'active' if index == 0 %>">
            <%= image_tag project.logo.url(:large), width: '900' %>
            <div class="carousel-caption">
              <br>
              <p class="thin" >
                <strong> <%= project.name %></strong>
                <br>
                <%= h(project.description).gsub(/\n/, '<br/>').html_safe %>
                <br>
                Заказчик: <%= project.client %>,
                Дата: <%= project.updated_at.strftime("%-d.%-m.%Y") %>
              </p>
            </div>
          </div>
<% end %>
        </div>
        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <div class="new-caption-area"></div>

  </div>

  <div class="row">
    <h3> Контактные данные</h3>
    <div class="col-md-12">
      <div id="contacts-block" class="col-md-3">
        <% if @company.premium? %>
          <address>
            <strong>Телефон:</strong>
            <%= link_to @company.phone_contact, "tel:+#{@company.phone_contact.gsub(/[^\d]/, '')}" %>
          </address>
          <address>
            <strong>E-mail:</strong>
            <a href="mailto:<%= @company.email_contact %>" target="_blank"><%= @company.email_contact %></a>
          </address>
          <address>
            <strong>Адрес:</strong>
            <%= @company.address_contact %><br>
          </address>
          <% if @company.company_site.present? %>
            <address>
              <strong>Сайт:</strong>
              <%= link_to "#{@company.company_site}", @company.company_site, target: '_blank', rel: 'nofollow' %><br>
            </address>
          <% end %>
        <% else %>
          Исполнитель скрыл свои данные
          <br>
        <% end %>
      </div>

      <a class="btn btn-warning" id="show_contacts">Раскрыть контакты</a>
      <a class="btn btn-warning" href="#callbackwidget" data-turbolinks="false">Связаться</a>

      <%= link_to "Оставить заявку", new_promo_request_url, class: 'btn btn-warning' %>
    </div>


  </div>

  <div class="row">
    <h3> Отзывы</h3>
  </div>
  <div class="row">
    <% if @company.reviews.verified.present? %>

      <% @company.reviews.verified.each do |review| %>

        <p>  <%= "#{review.name}(#{review.p_city})  #{review.created_at.strftime("%-d.%-m.%Y %H:%M")}:" %></p>
        <% if review.positive? %>
          <span class="label label-success">Положительный</span>
        <% else %>
          <span class="label label-danger">Отрицательный</span>
        <% end %>
        <p class="lead" style="font-size: 16px">
          <%= review.description %>
        </p>

      <% end %>

    <% else %>
      Пока что нет отзывов об этой компании
    <% end %>
  </div>
  <br>


  Сотрудничали с компанией? Оставьте пожалуйста свой отзыв для будущих партнёров
  <%= form_with(model: @review, local: true) do |form| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h3>

        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, id: :review_name, class: 'form-control', :required => true %>
        </div>

        <div class="form-group">
          <%= form.label :p_city %>
          <%= form.text_field :p_city, id: :review_p_city, class: 'form-control', :required => true %>
        </div>

        <div class="form-group">
          <%= form.label :type_review %>
          <br>
          <%= form.collection_radio_buttons :type_review, Review.type_reviews, :first, :first, {checked: Review.type_reviews.first} %>
        </div>
        <%= form.number_field :company_id, id: :review_company_id, style: 'display:none' %>
      </div>
      <div class="col-md-3">

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, rows: 5, id: :review_description, class: 'form-control', :required => true %>
        </div>


        <%= form.submit 'Оставить отзыв', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <h3></h3>
    <script>

        ymaps.ready(init);

        function init() {
            myMap = new ymaps.Map("map", {
                center: [54, 73],
                zoom: 4
            });

            var cities = <%=raw @company.cities.map{|e| "город #{e.name}, Россия" } %>
            cities.forEach(function (item, i, arr) {
                ymaps.geocode(item).then(
                    function (res) {
                        myMap.geoObjects.add(res.geoObjects.get(0));

                    },
                    function (err) {
                        console.log('Ошибка');
                    }
                );
                });


        }


    </script>
    <div id="map" style="height: 500px"></div>
  </div>


</div>

<script>
    jQuery(function ($) {
        $('.carousel').carousel();
        var caption = $('div.item:nth-child(1) .carousel-caption');
        $('.new-caption-area').html(caption.html());
        caption.css('display', 'none');

        $(".carousel").on('slide.bs.carousel', function (evt) {
            var caption = $('div.item:nth-child(' + ($(evt.relatedTarget).index() + 1) + ') .carousel-caption');
            $('.new-caption-area').html(caption.html());
            caption.css('display', 'none');
        });
    });
    $('label[for="review_type_review_positive"]').text('положительное');
    $('label[for="review_type_review_negative"]').text('отрицательное');

    $('#contacts-block').hide();
    $('#show_contacts').click(function () {
        $('#contacts-block').show();
        $('#show_contacts').hide();

    })


</script>
