<header id="head" style="background:#181015 url(<%= image_url('bg_header.jpg') %>) no-repeat">
  <div class="container">
    <div class="row">
      <h1 class="lead">Сервис поиска рекламных компаний</h1>
      <h2 >быстрая помощь для продвижении любого бизнеса</h2>
      <p class="tagline" style="font-size: 20px">найдите подходящую рекламную компанию за 12 секунд</p>
      <%= render 'search_form' %>
    </div>
  </div>
</header>

<%= render 'content_companies' %>

<%= render 'description_service' %>

<%= render 'faq' %>




