<div class="container">

  <ol class="breadcrumb">
    <li><a href="/">На главную</a></li>
    <li class="active"><%= link_to 'Все статьи', main_articles_path %></li>
  </ol>

  <div class="row">

    <!-- Article main content -->
    <div class="col-sm-8 maincontent">
      <header class="page-header">
        <h1 class="page-title"><%= @article.title %> </h1>
      </header>


      <p>
        <%= image_tag @article.logo.url(:medium), class: 'img-rounded pull-right', width: 300 %>
        <%= h(@article.body).gsub(/\n/, '<br/>').html_safe %>
      </p>

      </article>
      <!-- /Article -->
    </div>
    <!-- Sidebar -->
    <%= render 'article_useful' %>
    <!-- /Sidebar -->

  </div>
</div>