<div class="container">
  <ol class="breadcrumb">
  </ol>
  <div class="row">

    <header class="page-header">
      <h1 class="page-title">Рекламные заявки</h1>
    </header>

    <div style="text-align: right">
      <span id='request_info' data-toggle="tooltip" data-placement="left" data-html="true" title="
<div style='text-align: left'>Получить заявку может любая представленная на сайте рекламная компания из соответствующего города, работающая с указанным в заявке бюджетом.<br>
Для того, чтобы начать принимать заявки, добавьте информацию о вашей компании в нашу базу рекламных поставщиков.<br>
Пройдите простую регистрацию прямо сейчас нажав на кнопку Присоединиться<br>

! Премиум аккаунты получают рекламные заявки сразу же после их публикации. Компании без премиум аккаунта могут связываться с заявителем по истечении 60 минут.</div>
"><strong id="request_info_text">Как получать заявки?</strong></span>

    </div>

    <% @promo_requests.each do |pr| %>

        <h4 style="color: darkorange"><span class="glyphicon glyphicon-flag"></span> <%= pr.city.name %>
          , <%= l(pr.created_at, :format => :long) %></h4>
        Рекламное направление: <%= pr.adv_type_str %><br>
        Бюджет: <%= pr.min_order_price %> руб.<br>
        <span>Текущий статус:</span>

        <% case pr.status %>
    <% when 'unhandled' %>
            <span class="label label-danger"><%= I18n.t("promo_request_status.#{pr.status}") %></span>
        <% when 'free' %>
            <span class="label label-success"><%= I18n.t("promo_request_status.#{pr.status}") %></span>
        <% when 'processing' %>
            <span class="label label-warning"><%= I18n.t("promo_request_status.#{pr.status}") %></span>
        <% when 'closed' %>
            <span class="label label-default"><%= I18n.t("promo_request_status.#{pr.status}") %></span>
        <% end %>

        <p class="lead"><%= pr.description %></p>
        <div style="border-bottom: 1px solid #eee;"></div>
    <% end %>

  </div>
</div>

<script>
    $("#request_info").tooltip();
</script>