<p id="notice"><%= notice %></p>

<h1 class="page-header">Отзывы</h1>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Имя</th>
    <th>Компания</th>
    <th>Впечатление</th>
    <th>Описание</th>
    <th>Статус</th>
    <th colspan="2">Изменить</th>
  </tr>
  </thead>

  <tbody>
  <% @reviews.each do |review| %>
      <tr>
        <td><%= "#{review.name}(#{review.p_city})"%></td>
        <td><%= link_to  review.company.name, adv_agency_url(review.company), target: '_blank' %></td>
        <td><%= I18n.t("type_review.#{review.type_review}") %></td>
        <td><%= review.description %></td>
        <td>
          <% if review.verified? %>
              <span class="label label-success">Опубликован</span>
          <% else %>
              <span class="label label-danger">Не опубликован</span>
          <% end %>
        </td>
        <!--<td><%#= link_to 'Edit', edit_company_path(company) %></td>-->
        <td><%= link_to 'Изменить статус', change_review_status_admins_path(review), method: :patch, class: 'btn btn-default btn-sm' %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>


