<p id="notice"><%= notice %></p>

<h1 class="page-header">Статьи</h1>
<%= link_to 'Добавить новую статью', new_article_path, class: 'btn btn-default' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Картинка</th>
      <th>Описание</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td style="min-width: 150px"><%= article.title %></td>
        <td><%= image_tag article.logo.url(:thumb) %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Просмотр', article %></td>
        <td><%= link_to 'Редактировать', edit_article_path(article) %></td>
        <td><%= link_to 'Удалить', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

