<%= form_with(model: promo_request, local: true) do |form| %>
  <% if promo_request.errors.any? %>
    <div id="error_explanation">
      <h2>Исправте следующие ошибки перед отправкой заявки:</h2>

      <ul>
        <% promo_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="top-margin">
    <%= form.label :city_id %>*
    <%= form.collection_select :city_id, City.all.order(:name), :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="top-margin">
    <%= form.label :min_order_price %>*
    <%= form.number_field :min_order_price, id: :promo_request_min_order_price, class: 'form-control', min: '1' %>
  </div>

  <div class="top-margin">
    <%= form.label :adv_type %><br>
    <%= form.select :adv_type, options_from_collection_for_select(PromoRequest::ADV_TYPES, :first, :last), {}, class: 'form-control' %>
  </div>

  <div class="top-margin">
    <%= form.label :description %>*
    <%= form.text_area :description, id: :promo_request_description, class: 'form-control', rows: '7' %>
  </div>

  <div class="top-margin">
    <%= form.label :name %>*
    <%= form.text_field :name, id: :promo_request_name, class: 'form-control' %>
  </div>


  <div class="top-margin">
    <%= form.label :contact_details %>*
    <%= form.text_field :contact_details, id: :promo_request_contact_details, class: 'form-control' %>
  </div>

  <div class="top-margin">
    <%= form.label :contact_email %>
    <%= form.email_field :contact_email, id: :promo_request_contact_email, class: 'form-control' %>
  </div>
  <%= recaptcha_v3(action: 'promo_request') %>
  <div class="top-margin">
    <%= form.submit "Отправить", class: "btn btn-action" %>
  </div>
<% end %>
