<p id="notice"><%= notice %></p>
<h1 class="page-header">Заявки</h1>

<span class="label label-danger">Новая</span> - заявка от пользователя, требует проверки модератора перед тем как попадёт в обработку компаниям
<br><br>
<span class="label label-success">Свободная</span> - статус заявки после проверки модератором, не призязана к какой-либо компании
<br><br>
<span class="label label-warning">В обработке</span> - заявка находиться в обработке у компании
<br><br>
<span class="label label-default">Закрыта</span> - обработаная заявка
<br>


<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Город</th>
      <th>Направление</th>
      <th>Бюджет</th>
      <th>Описание</th>
      <th>Контакты</th>
      <th>Статус</th>
      <th colspan="2">Изменить</th>
    </tr>
  </thead>

  <tbody>
    <% @promo_requests.each do |promo_request| %>
      <tr>
        <td><%= promo_request.name %></td>
        <td><%= promo_request.town %></td>
        <td><%= PromoRequest::ADV_TYPES[promo_request.adv_type.to_sym] %></td>
        <td><%= promo_request.min_order_price %></td>
        <td style="max-width: 350px"><%= promo_request.description %></td>
        <td><%= promo_request.contact_details %></td>
        <td style="min-width: 100px; text-align: center">
          <% case promo_request.status %>
          <% when 'unhandled' %>
              <span class="label label-danger"><%= I18n.t("promo_request_status.#{promo_request.status}") %></span>
               <br>
              <%= link_to 'Проверено', change_request_status_admins_path(promo_request), method: :patch, class: 'btn btn-default btn-sm', style: 'margin-top: 10px' %>
          <% when 'free' %>
              <span class="label label-success"><%= I18n.t("promo_request_status.#{promo_request.status}") %></span>
          <% when 'processing' %>
              <span class="label label-warning"><%= I18n.t("promo_request_status.#{promo_request.status}") %></span>
          <% when 'closed' %>
              <span class="label label-default"><%= I18n.t("promo_request_status.#{promo_request.status}") %></span>
          <% end %>
        </td>
        <td><%= link_to 'Редактировать', edit_promo_request_path(promo_request) %></td>
        <td><%= link_to 'Удалить', promo_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


