<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promo_request.name %>
</p>

<p>
  <strong>Town:</strong>
  <%= @promo_request.town %>
</p>

<p>
  <strong>Min order price:</strong>
  <%= @promo_request.min_order_price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promo_request.description %>
</p>

<p>
  <strong>Contact details:</strong>
  <%= @promo_request.contact_details %>
</p>

<%= link_to 'Edit', edit_promo_request_path(@promo_request) %> |
<%= link_to 'Back', promo_requests_path %>
