<div class="container">
  <ol class="breadcrumb">
  </ol>
  <div class="row" style="margin-left: 10px">
<h4 style="color: darkorange; font-size: 16px;" class="thin">
  <span class="glyphicon glyphicon-flag"></span> <%= @promo_request.city.name %>
  , <%= l(@promo_request.created_at, :format => :long) %></h4>
<h4 class="thin" style="font-size: 16px;"> Рекламное направление: <%= @promo_request.adv_type_str %><br></h4>
<h4 class="thin" style="font-size: 16px;"> Бюджет: <%= @promo_request.min_order_price %> руб.<br></h4>
<h4 class="thin" style="font-size: 16px;"><span>Текущий статус:</span>

  <% case @promo_request.status %>
  <% when 'unhandled' %>
    <span class="label label-danger"><%= I18n.t("promo_request_status.#{@promo_request.status}") %></span>
  <% when 'free' %>
    <span class="label label-success"><%= I18n.t("promo_request_status.#{@promo_request.status}") %></span>
  <% when 'processing' %>
    <span class="label label-warning"><%= I18n.t("promo_request_status.#{@promo_request.status}") %></span>
  <% when 'closed' %>
    <span class="label label-default"><%= I18n.t("promo_request_status.#{@promo_request.status}") %></span>
  <% end %>
</h4>
<p class="lead" style="font-size: 16px;">
  <%= h(@promo_request.description).gsub(/\n/, '<br/>').html_safe %>
</p>

<%= link_to 'Назад', main_promo_requests_path %>
</div>
</div>