<%= form_with(model: company, local: true, html: {multipart: true}) do |form| %>
    <% if company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

          <ul>
            <% company.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-3">
        <span class="label label-info">Общая информация</span>
        <div class="form-group">
          <%= form.label 'Имя / Название компании' %>
          <%= form.text_field :name, id: :company_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :slogan %>
          <%= form.text_field :slogan, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label 'Логотип (не более 25 mb)' %>
          <%= form.file_field :logo, class: 'form-control' %>
        </div>

      </div>
      <div class="col-md-3">
        <span class="label label-info">Персонал и расценки</span>
        <div class="form-group">
          <%= form.label 'Кол-во сотрудников в команде' %>
          <%= form.number_field :common_exp, class: 'form-control', min: 1 %>
        </div>
        <div class="form-group">
          <%= form.label 'Минимальная сумма заказа' %>
          <%= form.number_field :min_order_price, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label 'Дата начала работы' %> <br>
          <%= form.date_select :date_foundation, end_year: 2018, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-3">
        <span class="label label-info">Контактные данные</span>
        <div class="form-group">
          <%= form.label :phone_contact %>
          <%= form.text_field :phone_contact, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :mobile_phone_contact %>
          <%= form.text_field :mobile_phone_contact, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :email_contact %>
          <small> ( для получения заявок )</small>
          <%= form.email_field :email_contact, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label 'Офис / Рабочий адрес ' %>
          <%= form.text_field :address_contact, class: 'form-control' %>
        </div>

      </div>
      <div class="col-md-3">
        <span class="label label-info">Дополнительная информация</span>
        <div class="form-group">
          <%= form.label 'Сайт исполнителя' %>
          <%= form.text_field :company_site, class: 'form-control',type: 'url', placeholder: 'http://your_site_name.ru' %>
          <small>Это поле должно начинаться с http:// или https:// <br>
            Например: https://promowind.ru</small>
        </div>

        <div class="form-group">
          <%= form.label 'Социальные сети исполнителя' %>
          <%= form.text_area :widget_contact_details, class: 'form-control' %>
          <small> Данные для виджета быстрой связи<br>
            ссылка на группы вконтакте, facebook<br>
            номер телефона whatsapp<br>
            Например: https://vk.com/promowind </small>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label 'Описание деятельности' %>
          <%= form.text_area :description, size: "50x5", class: 'form-control' %>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-10"><span class="label label-info">Сфера деятельности</span>
      <details>
        <summary>Укажите специализацию компании</summary>
        <div class="col-md-6">
          <div class="form-group">

            <%= form.check_box :promo %>
            <%= form.label :promo %>
            <br>

            <%= form.check_box :direct_mail %>
            <%= form.label :direct_mail %>
            <br>

            <%= form.check_box :outdoor_ads %>
            <%= form.label :outdoor_ads %>
            <br>

            <%= form.check_box :radio_ads %>
            <%= form.label :radio_ads %>
            <br>

            <%= form.check_box :transport_ads %>
            <%= form.label :transport_ads %>
            <br>

            <%= form.check_box :indoor_ads %>
            <%= form.label :indoor_ads %>
            <br>

            <%= form.check_box :mass_media %>
            <%= form.label :mass_media %>
            <br>

            <%= form.check_box :tv_ads %>
            <%= form.label :tv_ads %>
            <br>
            <%= form.check_box :professional_photography %>
            <%= form.label :professional_photography %>
          </div>
        </div>
        <div class="col-md-">
          <div class="form-group">

            <%= form.check_box :internet_ids %>
            <%= form.label :internet_ids %>
            <br>

            <%= form.check_box :salepoint_ads %>
            <%= form.label :salepoint_ads %>
            <br>

            <%= form.check_box :print_services %>
            <%= form.label :print_services %>
            <br>

            <%= form.check_box :production_promotional_materials %>
            <%= form.label :production_promotional_materials %>
            <br>

            <%= form.check_box :install_adv_constructions %>
            <%= form.label :install_adv_constructions %>
            <br>

            <%= form.check_box :marketing_research %>
            <%= form.label :marketing_research %>
            <br>

            <%= form.check_box :product_placement %>
            <%= form.label :product_placement %>
            <br>

            <%= form.check_box :design_services %>
            <%= form.label :design_services %>
            <br>
            <%= form.check_box :marketing_automation %>
            <%= form.label :marketing_automation %>
          </div>
        </div>
      </details>
    </div>
  </div>
    <div class="row">
      <div class="col-md-10">
        <span class="label label-info">Города</span>
        <div class="form-group">
          <details>
            <summary>Укажите города где работает Ваша компания</summary>
            <%= form.collection_check_boxes(:city_ids, City.all.order(:name), :id, :name) do |c| %>
                <%= c.check_box %>
                <%= c.label %>
                <br/>
            <% end %>
          </details>
        </div>
      </div>
    </div>


    <%= form.submit 'Сохранить данные', class: 'btn btn-default' %>

<% end %>
