<%= form_with(model: company, local: true) do |form| %>
    <% if company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

          <ul>
            <% company.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-3">
        <span class="label label-info">Общая информация</span>
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, id: :company_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :slogan %>
          <%= form.text_field :slogan, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-3">
        <span class="label label-info">Опыт и расценки</span>
        <div class="form-group">
          <%= form.label :common_exp %>
          <%= form.number_field :common_exp, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :count_ads %>
          <%= form.number_field :count_ads, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :min_order_price %>
          <%= form.number_field :min_order_price, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-3">
        <span class="label label-info">Контакты</span>
        <div class="form-group">
          <%= form.label :phone_contact %>
          <%= form.text_field :phone_contact, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :email_contact %>
          <%= form.email_field :email_contact, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :address_contact %>
          <%= form.text_field :address_contact, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-3">
        <span class="label label-info">Города</span>
        <div class="form-group">
          <%= form.collection_check_boxes(:city_ids, City.all, :id, :name) do |c| %>
              <%= c.check_box %>
              <%= c.label %>
              <br/>
          <% end %>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-10"><span class="label label-info">Сфера деятельности</span></div>

      <div class="col-md-4">
        <div class="form-group">
          <%= form.check_box :promo %>
          <%= form.label :promo %>
          <br>

          <%= form.check_box :direct_mail %>
          <%= form.label :direct_mail %>
          <br>

          <%= form.check_box :outdoor_ads %>
          <%= form.label :outdoor_ads %>
          <br>

          <%= form.check_box :radio_ads %>
          <%= form.label :radio_ads %>
          <br>

          <%= form.check_box :transport_ads %>
          <%= form.label :transport_ads %>
          <br>

          <%= form.check_box :indoor_ads %>
          <%= form.label :indoor_ads %>
          <br>

          <%= form.check_box :mass_media %>
          <%= form.label :mass_media %>
          <br>

          <%= form.check_box :tv_ads %>
          <%= form.label :tv_ads %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">

          <%= form.check_box :internet_ids %>
          <%= form.label :internet_ids %>
          <br>

          <%= form.check_box :salepoint_ads %>
          <%= form.label :salepoint_ads %>
          <br>

          <%= form.check_box :print_services %>
          <%= form.label :print_services %>
          <br>

          <%= form.check_box :production_promotional_materials %>
          <%= form.label :production_promotional_materials %>
          <br>

          <%= form.check_box :install_adv_constructions %>
          <%= form.label :install_adv_constructions %>
          <br>

          <%= form.check_box :marketing_research %>
          <%= form.label :marketing_research %>
          <br>

          <%= form.check_box :product_placement %>
          <%= form.label :product_placement %>
          <br>

          <%= form.check_box :design_services %>
          <%= form.label :design_services %>
        </div>
      </div>
    </div>



    <%= form.submit 'Сохранить данные', class: 'btn btn-default' %>

<% end %>
