<h1 class="page-header">Профиль</h1>
<div class="row">
  <div class="col-md-12">
    <span class="label label-warning">Чтобы Ваша компания появилась в поиске нужно добавить информацию о компании</span>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div>
      Текущий статус:
      <% if @company.verified? %>
          <span class="label label-success">Участвует в поиске</span>
          <%= link_to 'Посмотреть как выглядит компания для клиентов', adv_agency_path(@company), target: '_blank' %>
      <% else %>
          <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Не участвует в поиске</span>
          <br>
          Ваша компания будет видна пользователям после проверки.
      <% end %>
    </div>
    <br>
    <div>
      Тип аккаунта:
      <% if @company.premium? %>
          Премиум
      <% else %>
          Обычный <span id='account_info' class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" data-html="true" title="- Вы можете принять заявку в работу,<br> через 60 минут после её размещения.<br>- При просмотре Вашей страницы контактные данные компании скрыты.<br>- Отсутствует возможность публикации новых статей от имени компании."></span>
          <%= link_to 'Подключить премиум аккаунт', payment_company_path(@company) %>
      <% end %>
    </div>


  </div>
</div>


<h2 class="sub-header">Информация</h2>
<div class="row">
  <div class="col-md-3">
    <%= image_tag @company.logo.url, size: "220x180" %>
  </div>
  <div class="col-md-9">
    <p>
      <strong>Название</strong><br>
      <%= @company.name %>
    </p>
    <p>
      <strong>Слоган</strong><br>
      <%= @company.slogan %>
    </p>
    <p>
      <strong>Описание</strong><br>
      <%= h(@company.description).gsub(/\n/, '<br/>').html_safe %>
    </p>
  </div>
</div>








