<h1 class="page-header">Профиль <%= @company.name %></h1>
<div class="row">
  <div class="col-md-12">
    <span class="label label-warning">Чтобы исполнитель участвовал в поиске, необходимо заполнить информацию</span>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div>
      Текущий статус:
      <% if @company.verified? %>
          <span class="label label-success">Участвует в поиске</span>
          <%= link_to 'Как видит Вас посетитель сайта', adv_agency_path(@company), target: '_blank' %>
      <% else %>
          <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Не участвует в поиске</span>
          <br>
          Ваша компания будет видна пользователям после проверки.
      <% end %>
    </div>
    <br>
    <div>
      Количество проектов: <strong><%= @company.projects.count %></strong>
      <%= link_to 'Добавить проекты которые видят посетители сайта и ваши клиенты', company_projects_path(@company) %>
    </div>

    <br>
    <div>
      Тип аккаунта:
      <% if @company.premium? %>
        <span class="label label-success">Премиум</span>
      <% else %>
        <span class="label label-default">Стартовый</span>
        <span id='account_info' class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" data-html="true" title="- Вы можете принять заявку в работу,<br> через 60 минут после её размещения.<br>- При просмотре Вашей страницы контактные данные компании скрыты.<br>- Отсутствует возможность публикации новых статей от имени компании."></span>
        <%= link_to 'Активация премиум аккаунта позволяет получать заказов в 4 раза больше обычного', payment_company_path(@company) %>
      <% end %>
    </div>
    <br>
    <div>
      Партнерская ссылка:
      <span class="label label-info"><%= new_company_registration_url + "?ref=#{@company.ref_code}" %></span>
      <br>
      Приведи друга и каждый из вас получить по 500 бонусных баллов
    </div>


  </div>
</div>


<h2 class="sub-header">Информация</h2>
<div class="row">
  <div class="col-md-3">
    <%= image_tag @company.logo.url, size: "220x180" %>
  </div>
  <div class="col-md-9">
    <p>
      <strong>Название</strong><br>
      <%= @company.name %>
    </p>
    <p>
      <strong>Слоган</strong><br>
      <%= @company.slogan %>
    </p>
    <p>
      <strong>Описание</strong><br>
      <%= h(@company.description).gsub(/\n/, '<br/>').html_safe %>
    </p>
  </div>
</div>








