<h1 class="page-header">Платежи</h1>
<p id="notice"><%= params[:notice] %></p>
<div class="row">
  <div class="col-md-12">
    <span class="label label-warning">Информация по платежам</span>
  </div>
</div>
<br>
<div class="col-md-12">
  <p>Премиум-аккаунт позволяет вашей компании:</p>
  <ol>
    <li>Открыть контактные данные для всех потенциальных покупателей, которые находятся в поиске рекламного партнёра</li>
    <li>Получать на рабочую почту рекламные заявки от заинтересованных клиентов и принимать их сразу же после размещения</li>
    <li>Публиковать рекламные статьи с содержанием ссылок на собственные ресурсы, позиционируя себя как эксперта в своей отрасли</li>
  </ol>

  <p>Приобрести премиум акаунт вы можете:</p>
<ul>
  <li>на 3 месяца вы можете оплатив 5000 рублей</li>
  <li>на 6 месяцев вы можете оплатив 9000 рублей</li>
  <li>на 12 месяцев вы можете оплатив 15000 рублей</li>
</ul>
</div>
<div class="row">
  <div class="col-md-12">
    <% if @company.premium_payments.empty? %>
        Нет платежей
    <% else %>
        Премиум аккаунт до <%= @company.expiration_date_of_premium %> <br>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Сумма</th>
          </tr>
          </thead>

          <tbody>
          <% @company.premium_payments.order(created_at: :desc).each do |pp| %>
              <tr>
                <td><%= pp.uid %></td>
                <td>
                  <%= l(pp.created_at, :format => :long) %>
                </td>
                <td><%= pp.amount/100  %></td>

              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
  <div class="col-md-12">
    <script>
        function checkoutInit(url) {
            $ipsp('checkout').scope(function() {
                this.setCheckoutWrapper('#checkout_wrapper');
                this.addCallback(__DEFAULTCALLBACK__);
                this.action('show', function(data) {
                    $('#checkout_loader').remove();
                    $('#checkout').show();
                });
                this.action('hide', function(data) {
                    $('#checkout').hide();
                });
                this.action('resize', function(data) {
                    $('#checkout_wrapper').width(880).height(data.height);
                });
                this.loadUrl(url);
            });
        };
        var button = $ipsp.get("button");
        button.setMerchantId(1404927);
        button.setResponseUrl('<%= "#{payment_redirect_company_url(@company)}"%>');
//        button.setAmount("5000","RUB", true);
        button.setAmount('', "RUB");
        button.setHost('api.fondy.eu');
        button.addParam("order_desc","Подписка на премиум аккаунт 1 месяц");
        button.addField({
            label: 'Описание платежа',
            name: 'description',
            value: 'Подписка на премиум аккаунт',
            readonly: true
        });
        checkoutInit(button.getUrl());
    </script>

    <div id="checkout">
      <div id="checkout_wrapper"></div>
    </div>
  </div>
</div>