<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25372110-4"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-25372110-4');
  </script>

  <%= csrf_meta_tags %>
  <title>Сервис поиска рекламных исполнителей PromoWind</title>
  <meta Http-equiv="Content-Type" Content="text/html; charset=utf-8">
  <meta name="author" content="Рубцов Егор Игоревич">
  <meta name="Reply-to" content="promowindin@gmail.com">
  <meta name="description" content="Помогаем руководителям бизнеса и маркетологам оперативно находить подходящих рекламных исполнителей, а так же связываться с ними наиболее удобным способом.">
  <meta name="keywords" content="продвижение, маркетинг, промо акции, наружная реклама, рекламное агентство, рекламная компания, продвижение товара, продвижение услуг, размещение рекламы, бесплатная реклама, интернет реклама, интернет маркетинг, объявление реклама, газета реклама, стоимость рекламы">
  <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi">
  <meta name="yandex-verification" content="0573d3746f8fd43b" />


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: Rails.env.production? %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', rel: 'preload' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="manifest" href="/manifest.json">
  <%= yield :head %>
  <!-- Facebook Pixel Code -->
  <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f.fbq)f.fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '957748194406965');
      fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=957748194406965&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="lazysizes.min.js"></script>
</head>

<body class="home">

<script>
    !function(e,t,d,s,a,n,c){e[a]={},e[a].date=(new Date).getTime(),n=t.createElement(d),c=t.getElementsByTagName(d)[0],n.type="text/javascript",n.async=!0,n.src=s,c.parentNode.insertBefore(n,c)}(window,document,"script","https://promowindru.push.world/https.embed.js","pw"),pw.websiteId="bb64fb1fdb523f72d44bd4656de64acf8947207ea9919d99a7c17264b2b6729b";
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="navbar navbar-inverse navbar-static-top headroom animated">

  <div class="container-fluid">
    <% if notice %>
        <div class="alert alert-warning fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
    <% end %>
    <div class="navbar-header">
      <!-- Button for smallest screens -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      <%= link_to root_url, class: 'navbar-brand' do %>
          <%= image_tag 'logo_new.png', :style => 'height: 80px; margin-top: -29px;' %>
      <% end %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="<%= current_page?(main_promo_requests_path) ? 'active' : '' %>"><%= link_to 'Рекламные заявки', main_promo_requests_path %></li>
        <li class="<%= current_page?(main_articles_path) ? 'active' : '' %>"><%= link_to 'Публикации', main_articles_path %></li>
        <li><a href="/#faq" id="l_faq">Вопросы</a></li>
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Что-то <b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href="sidebar-left.html">Left Sidebar</a></li>-->
        <!--<li class="active"><a href="sidebar-right.html">Right Sidebar</a></li>-->
        <!--</ul>-->
        <!--</li>-->

        <% if company_signed_in? %>
            <li><%= link_to('Личный кабинет', companies_path, class: 'btn') %></li>
            <li> <%= link_to('Выход', destroy_company_session_path, method: :delete, class: 'btn') %></li>
        <% else %>
            <li>
              <%= link_to('Войти', companies_url, class: 'btn') %>
            </li>
        <% end %>

        <li>
          <%= link_to('Регистрация', new_company_registration_path, class: 'btn') unless company_signed_in? %>
        </li>
        <li class="active">
          <%= link_to "Отправить заявку".html_safe, new_promo_request_path, class: 'btn request-button', style: "font-size: 13px; color: #FFEFD7; background-image: linear-gradient(to bottom, #FF9B22 0%, #FF8C00 100%); border: 0 none;" %>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<%= yield %>



<section id="social">
  <div class="container">
    <div class="wrapper clearfix">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_linkedin_counter"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
      </div>
      <!-- AddThis Button END -->
    </div>
  </div>
</section>

<footer id="footer" class="top-space">

  <div class="footer1">
    <div class="container">
      <div class="row">

        <div class="col-md-5 widget">
          <h3 class="widget-title">Контакты</h3>
          <div class="widget-body">
            <p>+74951280852<br>
              <a href="mailto:promowindin@gmail.com" target="_blank">promowindin@gmail.com</a><br>

            </p>
          </div>
          <h3 class="widget-title">Следите за новостями</h3>
          <div class="widget-body">
            Cмотрите наши социальные сети
            <p class="follow-me-icons">
              <%= link_to 'https://www.instagram.com/promowind/', target: '_blank', rel: 'nofollow' do %>
                  <%= image_tag 'Instagram_icon.png', height: '32', width: '32' %>
              <% end %>
              <%= link_to 'https://vk.com/promowind', target: '_blank', rel: 'nofollow' do %>
                  <%= image_tag 'vk.png', height: '32', width: '32' %>
              <% end %>
              <%= link_to 'https://www.facebook.com/promowind/', target: '_blank', rel: 'nofollow' do %>
                  <%= image_tag 'fb.png', height: '32', width: '32' %>
              <% end %>
              <%= link_to 'https://ok.ru/group/54752958415085', target: '_blank', rel: 'nofollow' do %>
                  <%= image_tag 'od.png', height: '32', width: '32' %>
              <% end %>
              <%= link_to 'https://t.me/promowind', target: '_blank', rel: 'nofollow' do %>
                  <%= image_tag 'telegram.png', height: '32', width: '32' %>
              <% end %>
            </p>
          </div>
        </div>


        <div class="col-md-7 widget">
          <h3 class="widget-title" style="float: right;">О сервисе</h3>
          <br><br><br>
          <div class="widget-body text-right">
            Быстрая рекламная помощь для продвижения любого бизнеса.<br>

            Сервис объединяющий всех поставщиков рекламных услуг, на котором Вы можете максимально быстро найти подходящего рекламного исполнителя и оперативно оценить уровень его компетенции на основе опыта, ключевых клиентов, реализованных проектов и отзывов от уже существующих покупателей. Выбирайте подходящего для вашей компании рекламного партнёра и связывайтесь с ним для запуска собственной рекламной кампании.

            <p>Все размещенные исполнители проходят проверку администраторами сервиса.</p>
          </div>

        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="simplenav">
              <%= link_to 'Политика конфиденциальности', agreement_path %> |
              <%= link_to 'Вход для администраторов', admins_path %> |
              <!-- Yandex.Metrika informer --> <a href="https://metrika.yandex.ru/stat/?id=46440327&amp;from=informer" target="_blank" rel="nofollow"><img
            src="https://informer.yandex.ru/informer/46440327/1_0_FFFFFFFF_FFFFFFFF_0_pageviews"
            style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика:
данные за сегодня (просмотры)" class="ym-advanced-informer" data-cid="46440327" datalang="ru"
            /></a> <!-- /Yandex.Metrika informer -->
              <!-- Yandex.Metrika counter --> <script
            type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try
            { w.yaCounter46440327 = new Ya.Metrika({ id:46440327, clickmap:true, trackLinks:true,
                accurateTrackBounce:true, webvisor:true, trackHash:true, ecommerce:"dataLayer" }); } catch(e) { }
            }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function ()
            { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src =
                "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]")
            { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window,
                "yandex_metrika_callbacks"); </script> <noscript><div><img
          src="https://mc.yandex.ru/watch/46440327" style="position:absolute; left:-9999px;" alt=""
          /></div></noscript> <!-- /Yandex.Metrika counter -->
            </p>

          </div>
        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright © 2019, PromoWind. Designed by PromoWind
            </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>
</footer>
<link rel="stylesheet" href="https://cdn.saas-support.com/widget/cbk.css">
<script type="text/javascript" src="https://cdn.saas-support.com/widget/cbk.js?wcb_code=6f670779b0d57766cde2564b8a3e3a91" charset="UTF-8" async></script>
</body>
</html>

<script>
    $(document).ready(function() {
        $('select[id="city"], select[name="promo_request[city_id]"]').select2({
            theme: "classic",
            "language": {
                "noResults": function(){
                    return "Результаты не найдены";
                }
            },
            escapeMarkup: function (markup) {
                return markup;
            }
        });
    });
</script>
<style>
  #select2-city-container{
    font-weight: bolder;
    font-size: 18px;
  }
</style>