<!DOCTYPE html>
<html>
<head>
  <title>Promo Wind - сервис поиска рекламных компаний</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.ico' %>

<body class="home">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46440327 = new Ya.Metrika({
                    id:46440327,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45016294" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<div class="navbar navbar-inverse navbar-static-top headroom animated">

  <div class="container">
    <% if notice %>
        <div class="alert alert-warning fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= notice %>
        </div>
    <% end %>
    <div class="navbar-header">
      <!-- Button for smallest screens -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      <%= link_to root_url, class: 'navbar-brand' do %>
          <%= image_tag 'logo4.png', :style => 'height: 80px; margin-top: -29px;' %>
      <% end %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="#">Оставить заявку</a></li>
        <li class="<%= current_page?(main_articles_path) ? 'active' : '' %>"><%= link_to 'Статьи', main_articles_path %></li>
        <li><a href="/#faq" id="l_faq">Вопросы</a></li>
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Что-то <b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href="sidebar-left.html">Left Sidebar</a></li>-->
        <!--<li class="active"><a href="sidebar-right.html">Right Sidebar</a></li>-->
        <!--</ul>-->
        <!--</li>-->

          <% if company_signed_in? %>
            <li><%= link_to('Личный кабинет', companies_path, class: 'btn') %></li>
             <li> <%= link_to('Выход', destroy_company_session_path, method: :delete, class: 'btn') %></li>
          <% else %>
            <li>
              <%= link_to('Войти', companies_url, class: 'btn') %>
            </li>
          <% end %>

        <li>
          <%= link_to('Присоединиться', new_company_registration_path, class: 'btn') unless company_signed_in? %>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<%= yield %>



<section id="social">
  <div class="container">
    <div class="wrapper clearfix">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_linkedin_counter"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
      </div>
      <!-- AddThis Button END -->
    </div>
  </div>
</section>

<footer id="footer" class="top-space">

  <div class="footer1">
    <div class="container">
      <div class="row">

        <div class="col-md-3 widget">
          <h3 class="widget-title">Контакты</h3>
          <div class="widget-body">
            <p>+7 (967) 86-66-555<br>
              <a href="mailto:promowindin@gmail.com" target="_blank">promowindin@gmail.com</a><br>

            </p>
          </div>
          <h3 class="widget-title">Оставайтесь с нами везде</h3>
          <div class="widget-body">
            Присоединяйтесь к нам в социальных сетях
            <p class="follow-me-icons">
              <%= link_to 'https://vk.com/promowind', target: '_blank', rel: 'nofollow' do %>
                  <%= image_tag 'vk.png', height: '32', width: '32' %>
              <% end %>
              <%= link_to 'https://www.facebook.com/groups/promowind', target: '_blank', rel: 'nofollow' do %>
                  <%= image_tag 'fb.png', height: '32', width: '32' %>
              <% end %>
              <%= link_to 'https://ok.ru/group/54752958415085', target: '_blank', rel: 'nofollow' do %>
                  <%= image_tag 'od.png', height: '32', width: '32' %>
              <% end %>
            </p>
          </div>
        </div>



        <div class="col-md-7 widget">
          <h3 class="widget-title">О компании</h3>
          <div class="widget-body">
            <p>Быстрая рекламная помощь для продвижения бизнеса.</p>
            <p>
              Сервис объединяющий всех игроков рекламного рынка, на котором Вы можете мгновенно найти подходящего
              бизнесу рекламного исполнителя и быстро оценить его компетентность на основе реализованных проектов,
              ключевых клиентов, отзывов и рекламного опыта. Все компании проходят проверку администраторами сервиса.
            </p>
            <p>Выбирайте прибыльного рекламного партнера и связывайтесь с ним для запуска собственной рекламной кампании.</p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="simplenav">
              <%= link_to 'Политика конфиденциальности', agreement_path %> |
              <%= link_to 'Вход для администраторов', admins_path %>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright © 2017, Promo Wind. Designed by Promo Wind</a>
            </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>
</footer>
</body>
</html>
